{# {{ form_start(form) }} #}
{# {{ form_row(form.domaine) }} #}
{# {{ form_row(form.description) }} #}
{# {{ form_row(form.comment) }} #}
{# {{ form_row(form.ranking) }} #}
{# {{ form_row(form.price) }} #}
{# {{ form_row(form.stock) }} #}
{# {{ form_row(form.value) }} #}
{# {{ form_row(form.cellarLocation) }} #}
{# {{ form_row(form.picture) }} #}
{# {{ form_row(form.drinkBefore) }} #}
{# {{ form_row(form.vintage) }} #}
{# {{ form_row(form.purchaseDate) }} #}
{# {{ form_row(form.color) }} #}
{# {{ form_row(form.country) }} #}
{# {{ form_row(form.region) }} #}
{# {{ form_row(form.appellation) }} #}
{# {{ form_row(form.type) }} #}
{# {{ form_row(form.grapeVariety) }} #}
{# {{ form_row(form.winePairing) }} #}
{# {{ form_row(form.user) }}  #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}
