<div id="wrapper" class="bg-lightPrimary">
	<div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
		<div style="border-bottom:solid; border-bottom-color:var(--prune)">
			<h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
				Nouvelle bouteille
			</h1>
		</div>
	</div>
	<div
		class="bg-primaryLight p-5 ">
		{# {{ form_row(form.user) }}  #}
		{{ form_start(form) }}
		<div
			class=" p-2 border-start border-end shadow-lg text-prune " enctype="multipart/form-data">

			<!-- ********************************** sous-block1 ********************************* -->
			<div class="container text-center ss-block1 ">
				<div class="img_input">
					<div class="div_illustration input-group-sm" id="div_illustration">
						<div class="img_bouteille m-auto">
							<img src="/assets/images/bouteille.svg" class="mt-5 mb-2 w-1 h-auto"></div>
						{{ form_row(form.picture) }}
					</div>
				</div>
			</div>


			{# <!-- ----------------------block input à côté image -----------------------------> #}
			<div class=" gpe_right_img">
				<div class=" mt-4 mb-3 d-flex">
					<div class="form-check d-flex">
						<div class="d-flex flex-row">
							{{ form_row(form.color) }}
						</div>

					</div>
				</div>
				{# <!-- ----------FIN gpe checkbox ----------------> #}
				<label for="domaine" class="form-label text-start p-1 mb-0 mt-2 text-start">Domaine :</label>
				{{ form_row(form.domaine) }}
				<label for="type" name="type" class="form-label text-start mb-0 mt-2">Type :</label>
				{{ form_row(form.type) }}


				<label for="vintage" class="form-label text-start p-1 mt-3 mb-0 mb-0 text-start">Année:</label>
				{{ form_row(form.vintage) }}

				<label for="appellation_id" class="form-label text-start p-1 mt-3 mb-0">Appellation :</label>
				{{ form_row(form.appellation) }}


				<label for="region_id" class="form-label text-start p-1 mb-0 mt-3">Région :</label>
				{{ form_row(form.region) }}

				<label for="country_id" class="form-label text-start p-1 mb-0 mt-3 ">Pays :</label>
				{{ form_row(form.country) }}
			</div>
			<!-- FIN div gpe_right_img  -->


			<!-- FIN div img_+_input  -->

			{# <!-- ----------------------input vintage en long -----------------------------> #}<label for="cepage" name="cepage" class="form-label text-start p-1 mb-0 mt-3"> </label>
			{{ form_row(form.grapeVariety) }}
			<label for="description_id" class="form-label text-start p-1 mb-0 mt-3 ">Description :</label>
			{{ form_row(form.description) }}

			<div class="d-flex row justify-content-around block_checkBox m-auto">
				<p class="ms-3 mb-1 ">SE BOIT AVEC</p>
				<hr>
				<div class=" ms-2 col checkBoxLeft">
					{{ form_row(form.winePairing) }}
					{# <label for="date_achat" class="form-label text-start p-1 mb-0">Date d'achat :</label>
																{{ form_row(form.purchaseDate) }} #}
				</div>
				<div class="mb-3">
					<label for="price" class="form-label text-start p-1 mb-0">Prix d'achat :</label>
					{# <input type="number" name="price" class="form-control" id="price" placeholder="€"></div> #}
					{{ form_row(form.price) }}
				</div>
				<div class="col-5 ">
					<div class="my-3">
						<label for="aging" name="aging" class="form-label text-start p-1 mb-0">Boire avant :</label>
						{{ form_row(form.drinkBefore) }}
						{# <input type="number" name="drinkBefore" class="form-control" id="aging" placeholder="Année"></div> #}
						<div class="mb-3">
							<label for="value" class="form-label text-start p-1 mb-0">Valeur à date :</label>
							{{ form_row(form.value) }}
							{# <input type="number" name="value" class="form-control" id="value" placeholder="€"></div> #}
						</div>
					</div>
				</div>


				<div class="row ss-block3 mx-auto w-100 px-2">
					<div class="row ss-ss-block2 p-0">
						<div
							class="mb-3 d-flex flex-row">
							{# <label for="rank" class="form-label text-start p-1 mb-0"></label> #}
							<div>
								{{ form_row(form.ranking) }}
							</div>
							<div class="etoile">
								<div
									class="input_etoile mb-1 ps-3" id="input_etoile1">
									{# <input type="radio" name="rank"> #}
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
								</div>
								<div
									class=" input_etoile mb-1 ps-3" id="input_etoile2">
									{# <input type="radio" name="rank"> #}
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
								</div>
								<div
									class=" input_etoile mb-1 ps-3" id="input_etoile3">
									{# <input type="radio" name="rank"> #}
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
								</div>
								<div
									class=" input_etoile mb-1 ps-3" id="input_etoile4">
									{# <input type="radio" name="rank"> #}
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
								</div>
								<div
									class=" input_etoile mb-1 ps-3" id="input_etoile5">
									{# <input type="radio" name="rank"> #}
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
									<span class="etoile ms-1">
										<i class="bi bi-star-fill text-warning"></i>
									</span>
								</div>

							</div>
						</div>

						<div class="mb-3">
							<label for="comment" class="comment_label form-label text-start ps-3 pt-2 mb-0  w-25">Commentaire :</label>
							{{ form_row(form.comment) }}
							{# <textarea type="text" name="comment" class=" textearea form-control mt-4 mx-1" id="comment" rows="4" placeholder="Commentaires..."></textarea> #}
						</div>
					</div>
				</div>
				<div class="row ss-block4">
					<div class="stock_block mt-4 d-inline-flex">
						<label for="stock" class="stock_label form-label text-start ps-3 pt-2 mb-0  w-25">STOCK :</label>
						{# <input type="number" name="stock" class="form-control w-25" id="stock"></div> #}
						{{ form_row(form.stock) }}
						<div class="my-4">
							<label for="location" class="textearea form-label text-start ps-3 pb-1 mb-0">Emplacement :</label>
							{# <textarea type="text" name="cellarLocation" class="textearea form-control mt-0 mx-auto" id="location" rows="2" placeholder="Etagère, armoire casier..."></textarea> #}
							{{ form_row(form.cellarLocation) }}

						</div>
					</div>

					<div class="d-flex justify-content-center gap-3 mt-3 mb-5">
						<div class="bg_prune d-flex justify-content-center">
							<button class="btn">{{ button_label|default('Save') }}</button>
							{# <button type="submit" id="btnadd" class=" btn btn-prune mb-3 mt-3">Ajouter</button> #}

						</div>
						<div class="bg_prune d-flex justify-content-center">
							<a href={{ path('app_wine_index')}} type="submit" id="btnadd" class=" btn btn-pinkWine  mb-3 mt-3">Annuler</a>
						</div>

					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
